<div class="row">
  <ng-container *ngFor="let person of persons">
    <div class="col-md-4">
      <a [routerLink]="[person.id, 'edit']">
        <div class="card card-primary">
          <div class="card-body">
            <h1 class="card-title">{{person.name}}</h1>
            <p class="card-text">{{person.age}}</p>
            <p class="card-text">{{person.cpf}}</p>
            <p class="card-text">{{person.contact.email}}</p>
            <p class="card-text">{{person.city.name}}</p>
          </div>
          <div class="card-footer">
            <span>{{person.createdDate | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
          </div>
        </div>
      </a>
    </div>
  </ng-container>
  <div *ngIf="persons.length == 0" class="col-md-12">
    <h1 class="display-4">No persons found. Click on Add button to create one.</h1>
  </div>
</div>

<a [routerLink]="['/persons/add']" class="float bg-success">
  <i class="fa fa-plus my-float"></i>
</a>
